:root {
	--main-bg2: #646f7f;
	--primary: #010c24;

	--neutral-light: #a8e0ff;
	--white: #fff;

	--text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

	--primary-gradient: linear-gradient(
		180deg,
		rgb(119, 149, 193) 0%,
		rgba(170, 174, 181, 0.2) 200%
	);
	--secondary-gradient: linear-gradient(
		90deg,
		rgb(119, 149, 193) 0%,
		rgba(170, 174, 181, 0.2) 150%
	);

	// animations colours
	--white-cloud: #d7d7d7;
	--darker-cloud: #49484a;
	--shadow-cloud: #808080;
	--rain-drop: blue;
	--sun: #ffe400;

	--animation-time: 7s;
	--animation-translate: -5px;

	--icon-size: 0.35;
	--scale-amount: 0.01;
	--scale-factor: 0;
}

$medium: 760px;
$large: 845px;

$white-cloud: var(--white-cloud) 77px -20px 0 -5px,
	var(--white-cloud) 35px -34px 0 4px, var(--white-cloud) 3px 0 0 2px,
	var(--white-cloud) 5px 0 0 2px, var(--white-cloud) 10px 0 0 2px,
	var(--white-cloud) 15px 0 0 2px, var(--white-cloud) 20px 0 0 2px,
	var(--white-cloud) 25px 0 0 2px, var(--white-cloud) 30px 0 0 2px,
	var(--white-cloud) 35px 0 0 2px, var(--white-cloud) 40px 0 0 2px,
	var(--white-cloud) 45px 0 0 2px, var(--white-cloud) 50px 0 0 2px,
	var(--white-cloud) 55px 0 0 2px, var(--white-cloud) 60px 0 0 2px,
	var(--white-cloud) 70px 2px 0 0, var(--white-cloud) 65px 2px 0 0,
	var(--white-cloud) 81px 2px 0 0, var(--white-cloud) 74px 2px 0 0,
	var(--white-cloud) 81px 2px 0 0, var(--white-cloud) 79px 2px 0 0,
	var(--white-cloud) 81px 2px 0 0, var(--white-cloud) 81px 0 0 -3px,
	var(--white-cloud) 84px 5px 0 -3px, var(--white-cloud) 87px 5px 0 -3px,
	var(--white-cloud) 92px 5px 0 -3px, var(--white-cloud) 98px 5px 0 -3px;

$white-cloud-shadow: var(--shadow-cloud) 5px 5px 5px 2px,
	var(--shadow-cloud) 10px 5px 5px 2px, var(--shadow-cloud) 10px 5px 5px 2px,
	var(--shadow-cloud) 15px 5px 5px 2px, var(--shadow-cloud) 15px 5px 5px 2px,
	var(--shadow-cloud) 20px 5px 5px 2px, var(--shadow-cloud) 25px 5px 5px 2px,
	var(--shadow-cloud) 30px 5px 5px 2px, var(--shadow-cloud) 35px 5px 5px 2px,
	var(--shadow-cloud) 40px 5px 5px 2px, var(--shadow-cloud) 45px 5px 5px 2px,
	var(--shadow-cloud) 50px 5px 5px 2px, var(--shadow-cloud) 84px 5px 5px 2px,
	var(--shadow-cloud) 60px 5px 5px 2px, var(--shadow-cloud) 90px 9px 5px -2px,
	var(--shadow-cloud) 60px 5px 5px 2px, var(--shadow-cloud) 69px 5px 5px 2px,
	var(--shadow-cloud) 70px 2px 5px 0, var(--shadow-cloud) 79px 2px 5px 0,
	var(--shadow-cloud) 73px 8px 5px 0, var(--shadow-cloud) 86px 5px 5px -3px,
	var(--shadow-cloud) 89px 10px 5px -3px,
	var(--shadow-cloud) 105px 10px 5px -3px;

$darker-cloud: var(--darker-cloud) 104px -38px 0 -5px,
	var(--darker-cloud) 73px -52px 0 1px, var(--darker-cloud) 100px -20px 0 -1px,
	var(--darker-cloud) 122px -21px 0 -8px, var(--darker-cloud) 126px -21px 0 -8px,
	var(--shadow-cloud) 118px -18px 5px -4px;

$cloud-sun: var(--sun) 88px -30px 0 10px,
	rgba(255, 255, 0, 0.4) 88px -30px 10px 15px;
