@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

:root {
  --main-bg2: #646f7f;
  --primary: #010c24;
  --neutral-light: #a8e0ff;
  --white: #fff;
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  --primary-gradient: linear-gradient(
  	180deg,
  	rgb(119, 149, 193) 0%,
  	rgba(170, 174, 181, 0.2) 200%
  );
  --secondary-gradient: linear-gradient(
  	90deg,
  	rgb(119, 149, 193) 0%,
  	rgba(170, 174, 181, 0.2) 150%
  );
}

[data-theme=day][data-weather=clear],
[data-theme=night][data-weather=clear] {
  background: linear-gradient(180deg, #a5cdf1, #e2f2fc);
}
[data-theme=day][data-weather=rain],
[data-theme=night][data-weather=rain] {
  background: linear-gradient(180deg, #a4a4a4, #d4e4f7);
}
[data-theme=day][data-weather=clouds],
[data-theme=night][data-weather=clouds] {
  background: linear-gradient(180deg, #d4d4d4, #eaeaea);
}
[data-theme=day][data-weather=thunderstorm],
[data-theme=night][data-weather=thunderstorm] {
  background: linear-gradient(180deg, #656565, #a9a9a9);
}
[data-theme=day][data-weather=drizzle],
[data-theme=night][data-weather=drizzle] {
  background: linear-gradient(180deg, #b0c4de, #d3d3d3);
}
[data-theme=day][data-weather=atmosphere],
[data-theme=night][data-weather=atmosphere] {
  background: linear-gradient(180deg, #dab892, #f5e1a4);
}
[data-theme=day][data-weather=snow],
[data-theme=night][data-weather=snow] {
  background: linear-gradient(180deg, #c6e2ff, #e0ffff);
}

.container {
  margin: 1rem auto;
  max-width: 320px;
}

.title {
  text-align: center;
}

.search-bar {
  margin: 0 auto;
  width: 90%;
  position: relative;
  z-index: 2;
}
.search-bar .input-bar {
  position: relative;
  display: flex;
  z-index: 3;
}
.search-bar .input-bar input {
  width: 100%;
  border-radius: 7px;
  border: 2px solid var(--primary);
  padding: 5px;
}
.search-bar .input-bar button {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 5px 20px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 7px;
  transition: all 100ms ease;
}
.search-bar .input-bar button:hover {
  background-color: rgba(1, 12, 36, 0.5176470588);
  color: var(--white);
}
.search-bar .suggestion-container {
  position: relative;
}
.search-bar .suggestion-container ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 1rem 0;
  top: -10px;
  width: 100%;
  background-color: var(--white);
}
.search-bar .suggestion-container ul li {
  cursor: pointer;
  list-style: none;
  padding: 0.3rem 0.5rem;
}
.search-bar .suggestion-container ul li:hover {
  background-color: #a8a8a8;
}

.today-container {
  --_text-color: var(--text-color, var(--white));
  background: var(--primary-gradient);
  color: var(--_text-color);
  border-radius: 20px;
  border: 3px solid var(--primary);
  padding: 1rem;
  margin-top: 1rem;
}

.location {
  padding: 0 1rem;
}
.location h3 {
  margin: 0.5rem 0;
  text-shadow: var(--text-shadow);
}
.location .today-date {
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: 600;
}
.location .today-date .current-date {
  border-right: 2px solid var(--primary);
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.current-information {
  text-align: center;
  padding: 0 1rem;
}
.current-information .today-temp {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.current-information .today-temp .weather-temp {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
}
.current-information .today-temp .weather-temp::after {
  content: "°";
  position: absolute;
  font-size: 3rem;
  top: 0.5rem;
}
.current-information .today-temp .weather-description {
  font-size: 1.5rem;
  font-weight: 700;
}
.current-information .more-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid var(--white);
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.current-information .more-info > * {
  margin-top: 1rem;
}
.current-information .more-info .feels,
.current-information .more-info .sunrise {
  text-align: left;
}
.current-information .more-info .wind,
.current-information .more-info .sunset {
  text-align: right;
}

.hour-container {
  display: flex;
  color: var(--primary);
  justify-content: space-between;
}
.hour-container .hour-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-light);
  border-radius: 13px;
  padding: 0.5rem;
  box-shadow: 5px 5px 11px 4px rgba(0, 0, 0, 0.25);
}
.hour-container .hour-card .hour-feels,
.hour-container .hour-card .hour-humidity {
  display: none;
}
.hour-container .hour-card .hour-temp {
  font-size: 1.7rem;
}
.hour-container .hour-card .h-text {
  font-size: 0.8rem;
}

.sunny {
  background: linear-gradient(rgba(52, 154, 226, 0.3), rgba(203, 237, 255, 0.5)), url("../images/sunny-v.png");
  background-size: cover;
}

.week-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.week-container .day-card {
  display: flex;
  justify-content: end;
  align-items: center;
  background: var(--secondary-gradient);
  padding: 1rem;
  border-radius: 12px;
}
.week-container .day-card .day {
  margin-right: auto;
}
.week-container .day-card .day .weekday {
  color: var(--white);
  text-shadow: var(--text-shadow);
  font-weight: 500;
}
.week-container .day-card .day .weekday-description {
  color: var(--primary);
  font-size: 1.1rem;
  font-weight: 600;
}
.week-container .day-card .day-temp {
  text-align: right;
  width: 50px;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 650px) {
  .container {
    max-width: 60rem;
    margin: auto;
    padding: 1rem;
  }
  .today-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
  }
  .today-container .search-bar {
    width: 100%;
  }
  .current-information .today-temp {
    margin-top: 0;
  }
  .search-bar .suggestion-container ul {
    color: var(--primary);
  }
  .hour-container .hour-card {
    justify-content: space-between;
    padding-block: 1.5rem;
  }
  .hour-container .hour-card .hour-feels,
  .hour-container .hour-card .hour-humidity {
    display: block;
  }
  .hour-container .hour-card .hour-temp {
    font-size: 2.5rem;
  }
  .hour-container .hour-card .h-text {
    font-size: 1rem;
  }
  .week-container {
    flex-direction: row;
  }
  .week-container .day-card {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  .week-container .day-card .day {
    margin-right: 0;
    text-align: center;
  }
  .week-container .day-card .day .weekday {
    font-size: 2rem;
  }
  .week-container .day-card .day-card-icon {
    width: 100px;
    border-bottom: 2px solid var(--white);
  }
  .week-container .day-card .day-temp {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 800px) {
  .location h3 {
    font-size: 1.5rem;
  }
  .location .today-date {
    font-size: 0.9rem;
  }
  .today-container {
    display: grid;
    grid-template-columns: 1fr 0.1fr 2fr;
    grid-template-rows: 1fr 3fr;
  }
  .today-container > :nth-child(2) {
    grid-column: 3/4;
  }
  .today-container > :nth-child(4) {
    grid-column: 3/4;
  }
  .hour-container {
    gap: 1rem;
  }
  .hour-container .hour-card {
    padding: 1rem;
    flex: 1;
  }
}/*# sourceMappingURL=styles.css.map */