@use "../abstracts" as *;

[data-theme="day"],
[data-theme="night"] {
	&[data-weather="clear"] {
		background: linear-gradient(180deg, #a5cdf1, #e2f2fc);
	}
	&[data-weather="rain"] {
		background: linear-gradient(180deg, #a4a4a4, #d4e4f7);
	}
	&[data-weather="clouds"] {
		background: linear-gradient(180deg, #d4d4d4, #eaeaea);
	}
	&[data-weather="thunderstorm"] {
		background: linear-gradient(180deg, #656565, #a9a9a9);
	}
	&[data-weather="drizzle"] {
		background: linear-gradient(180deg, #b0c4de, #d3d3d3);
	}
	&[data-weather="atmosphere"] {
		background: linear-gradient(180deg, #dab892, #f5e1a4);
	}
	&[data-weather="snow"] {
		background: linear-gradient(180deg, #c6e2ff, #e0ffff);
	}
}
[data-theme="night"] {
	.search-bar .input-bar button {
		color: var(--primary);
		background-color: var(--white);
		border: 2px solid var(--primary);
	}
}

.container {
	margin: 1rem auto;
	max-width: 320px;
}

.title {
	text-align: center;
}

.search-bar {
	margin: 0 auto;
	width: 90%;
	position: relative;
	z-index: 2;

	.input-bar {
		position: relative;
		display: flex;
		z-index: 3;
		input {
			width: 100%;
			border-radius: 7px;
			border: 2px solid var(--primary);
			padding: 5px;
		}
		button {
			cursor: pointer;
			position: absolute;
			right: 0;
			padding: 5px 20px;
			background-color: var(--primary);
			color: var(--white);
			border-radius: 7px;
			transition: all 100ms ease;
			&:hover {
				background-color: #010c2484;
				color: var(--white);
			}
		}
	}
	.suggestion-container {
		position: relative;
		ul {
			display: none;
			position: absolute;
			margin: 0;
			padding: 1rem 0;
			top: -10px;
			width: 100%;
			background-color: var(--white);
			li {
				cursor: pointer;
				list-style: none;
				padding: 0.3rem 0.5rem;
				&:hover {
					background-color: #a8a8a8;
				}
			}
		}
	}
}
