@use "../abstracts" as *;

.today-container {
	--_text-color: var(--text-color, var(--card-color));
	--_shadow-color: var(--shadow-color, var(--text-shadow));

	background: var(--card-bg);
	color: var(--_text-color);
	border-radius: 20px;
	box-shadow: 5px 5px 14px 6px rgba(0, 0, 0, 0.5),
		inset 0 0 20px 5px rgba(0, 0, 0, 0.3);
	padding: 1rem;
	margin-top: 1rem;

	.card {
		.few-clouds-night {
			--left: -11px;
			--top: -47px;
			--scale-factor: -0.1;
			--scale-amount: 0.005;
		}
		.few-clouds-day {
			--left: -26px;
			--top: 8px;
		}
		.clouds {
			--left: -26px;
			--top: 8px;
		}
		.more-clouds {
			--left: -29px;
			--top: 8px;
		}
		.clear-day {
			--left: -26px;
			--top: -17px;
		}
		.clear-night {
			--left: 12px;
			--top: 44px;
		}
		.snow {
			--left: -26px;
			--top: 0px;
		}
		.rain {
			--left: -29px;
			--top: 5px;
		}
		.light-rain-day {
			--left: -26px;
			--top: 8px;
		}
		.light-rain-night {
			--left: -26px;
			--top: 4px;
		}
		.drizzle {
			--left: -26px;
			--top: 4px;
		}
		.storm {
			--left: -29px;
			--top: 2px;
		}
	}
}

.card-day .location .today-date {
	--text-color: var(--primary);
}
.card-night .location .today-date {
	--text-color: var(--card-color);
}

.location {
	padding: 0 1rem;
	h3 {
		margin: 0.5rem 0;
		text-shadow: var(--text-shadow);
	}

	.today-date {
		color: var(--_text-color);
		font-size: 0.8rem;
		font-weight: 600;

		.current-date {
			border-right: 2px solid var(--_text-color);
			padding-right: 0.5rem;
			margin-right: 0.5rem;
		}
	}
}

.card-day {
	.location .city {
		color: var(--white);
	}
	.current-information .more-info {
		color: var(--white);
	}
}

.current-information {
	text-align: center;
	padding: 0 1rem;

	.card-day .today-temp {
		--text-color: var(--primary);
	}

	.card-night .today-temp {
		--text-color: var(--card-color);
	}

	.today-temp {
		color: var(--_text-color);
		display: flex;
		flex-direction: column;
		margin: 1rem 0;
		.weather-temp {
			font-size: 6rem;
			font-weight: 700;
			line-height: 1;
			position: relative;
			&::after {
				content: "°";
				position: absolute;
				font-size: 3rem;
				top: 0.5rem;
			}
		}
		.weather-description {
			font-size: 1.5rem;
			font-weight: 700;
		}
	}
	.more-info {
		display: grid;
		color: var(--_text-color);
		grid-template-columns: 1fr 1fr;
		border-top: 2px solid var(--white);
		margin-bottom: 1rem;
		font-size: 0.9rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
		& > * {
			margin-top: 1rem;
		}
		.feels,
		.sunrise {
			text-align: left;
		}

		.wind,
		.sunset {
			text-align: right;
		}
	}
}

.hour-container {
	display: flex;
	color: var(--primary);
	justify-content: space-between;

	.hour-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--card-bg);
		color: var(--card-color);
		border-radius: 13px;
		padding: 0.5rem;
		box-shadow: 5px 5px 11px 4px rgba(0, 0, 0, 0.25),
			inset 0 0 20px 5px rgba(0, 0, 0, 0.25);
		transition: transform 500ms ease;
		.hour-feels,
		.hour-humidity {
			display: none;
		}
		.hour-temp {
			font-size: 1.7rem;
		}
		.h-text {
			font-size: 0.8rem;
		}
		.hour-desc {
			display: none;
			text-align: center;
		}

		&:hover {
			transition: transform 100ms ease;
			transform: scale(1.01) translateY(-5px);
		}
	}
}
