@use "../abstracts" as *;

.card {
	position: relative;
	padding: 1.5em 1em;
	display: block;
}

.hour-container .hour-card,
.week-container .day-card,
.today-container {
	&.card-day {
		&.card-rain,
		&.card-light-rain {
			--shadow-cloud: hsl(212, 7%, 52%);
			--card-bg: hsl(214, 11%, 70%);
		}
		&.card-snow {
			--card-bg: hsl(218, 45%, 87%);
			--white-cloud: var(--white);
			--shadow-cloud: hsl(210, 6%, 79%);
		}
		&.card-storm {
			--card-color: var(--white);
			--card-bg: hsl(216, 7%, 29%);
			--shadow-cloud: hsl(216, 5%, 19%);
			--white-cloud: #b7b7b7;
			--rain-drop: hsl(221, 100%, 69%);
			--darker-cloud: #666468;
		}
		&.card-clear {
			--card-bg: #4fc1e9;
		}
		&.card-clouds {
			--shadow-cloud: hsl(213, 23%, 65%);
			--card-bg: hsl(194, 24%, 76%);
		}
		&.card-more-clouds {
			--shadow-cloud: hsl(212, 7%, 52%);
			--card-bg: hsl(215, 13%, 82%);
		}
	}

	&.card-night {
		--card-color: var(--white);
		--card-bg: #212f4d;

		&.card-rain,
		&.card-light-rain {
			--shadow-cloud: hsl(214, 9%, 31%);
			--rain-drop: hsl(196, 49%, 76%);
		}
		&.card-snow {
			--white-cloud: var(--white);
			--shadow-cloud: hsl(212, 10%, 34%);
		}
		&.card-storm {
			--card-color: var(--white);
			--shadow-cloud: hsl(214, 9%, 31%);
			--rain-drop: hsl(221, 100%, 77%);
		}
		&.card-clouds,
		&.card-more-clouds {
			--shadow-cloud: hsl(212, 9%, 31%);
		}
	}
}

.today-container.card-night {
	--card-bg: #2f3a4f;
}

// RAIN
.rain {
	animation: bounce var(--animation-time) ease-in-out infinite;
	background: var(--white-cloud);
	border-radius: 50%;
	box-shadow: $white-cloud, $white-cloud-shadow, $darker-cloud;

	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));
	&:before {
		animation: rain-drop 0.7s infinite linear;
		content: "";
		background: transparent;
		margin-left: 0;
		border-radius: 50%;
		display: block;
		height: 6px;
		width: 3px;
		opacity: 0.3;
		transform: scale(0.9);
	}
}

// LIGHT RAIN
.light-rain-day {
	animation: bounce var(--animation-time) ease-in-out infinite;
	background: var(--white-cloud);
	border-radius: 50%;
	box-shadow: $white-cloud, $white-cloud-shadow, $cloud-sun;

	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));
	&:before {
		animation: rain-drop 0.7s infinite linear;
		content: "";
		background: transparent;
		margin-left: 0;
		border-radius: 50%;
		display: block;
		height: 6px;
		width: 3px;
		opacity: 0.3;
		transform: scale(0.9);
	}
}

.light-rain-night {
	animation: bounce var(--animation-time) ease-in-out infinite;
	background: var(--white-cloud);
	border-radius: 50%;
	box-shadow: $white-cloud, $white-cloud-shadow;

	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));
	&:before {
		animation: rain-drop 0.7s infinite linear;
		content: "";
		background: transparent;
		margin-left: 0;
		border-radius: 50%;
		display: block;
		height: 6px;
		width: 3px;
		opacity: 0.3;
		transform: scale(0.9);
	}
}

// DRIZZLE
.drizzle {
	animation: bounce var(--animation-time) ease-in-out infinite;
	background: var(--white-cloud);
	border-radius: 50%;
	box-shadow: $white-cloud, $white-cloud-shadow;

	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));
	&:before {
		animation: drizzle 1s infinite linear;
		content: "";
		background: transparent;
		margin-left: 0;
		border-radius: 50%;
		display: block;
		height: 6px;
		width: 3px;
		opacity: 0.3;
		transform: scale(0.9);
	}
}

//SNOW
.snow {
	animation: bounce 5s ease-in-out infinite;
	background: var(--white);
	border-radius: 50%;

	box-shadow: $white-cloud, $white-cloud-shadow;
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));

	&:before {
		animation: snow-flakes 2s infinite linear;
		content: "";
		border-radius: 50%;
		display: block;
		height: 7px;
		width: 7px;
		opacity: 0.8;
		transform: scale(0.9);
	}
}

//STORM
.storm {
	animation: bounce var(--animation-time) ease-in-out infinite,
		cloud-lightning 3s steps(1, end) infinite;
	background: var(--white-cloud);
	border-radius: 50%;

	box-shadow: $white-cloud, $white-cloud-shadow, $darker-cloud;
	height: 50px;
	width: 50px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));

	&:before {
		animation: storm-lightning 3s steps(1, end) infinite;
		border-right: 7px solid transparent;
		border-top: 33px solid yellow;
		box-shadow: yellow -2px -30px, rgba(255, 255, 0, 0.4) -2px -30px 10px;
		content: "";
		display: block;
		height: 0;
		width: 0;
		position: absolute;
		left: 57px;
		top: 70px;
		transform: rotate(14deg) scale(0.7);
	}
	&:after {
		animation: rain-drop 0.7s infinite linear;
		content: "";
		background: transparent;
		margin-left: 0;
		border-radius: 50%;
		display: block;
		height: 6px;
		width: 3px;
		opacity: 0.3;
		transform: scale(0.9);
	}
}

// CLEAR
.clear-day {
	animation: sun var(--animation-time) linear infinite;
	background: #ffe400;
	border-radius: 100%;
	box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 5px;
	content: "";
	height: 90px;
	width: 90px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));

	&:before {
		animation: sun-glow 9s ease-in-out infinite;
		background: #ffee44;
		box-shadow: yellow 0 0 5px 1px;
		border-radius: 100%;
		content: "";
		height: 86px;
		width: 86px;
		position: absolute;
		left: 2px;
		top: 2px;
	}
}

.clear-night {
	animation: night-stars var(--animation-time) ease-in-out infinite;
	background-color: var(--white) fff;
	border-radius: 50%;

	box-shadow: var(--white) 26px 7px 0 -1px,
		rgba(255, 255, 255, 0.1) -36px -19px 0 -1px,
		rgba(255, 255, 255, 0.1) -51px -34px 0 -1px, var(--white) -52px -62px 0 -1px,
		var(--white) 14px -37px, rgba(255, 255, 255, 0.1) 41px -19px,
		var(--white) 34px -50px, rgba(255, 255, 255, 0.1) 14px -71px 0 -1px,
		var(--white) 64px -21px 0 -1px, rgba(255, 255, 255, 0.1) 32px -85px 0 -1px,
		var(--white) 64px -90px, rgba(255, 255, 255, 0.1) 60px -67px 0 -1px,
		var(--white) 34px -127px, rgba(255, 255, 255, 0.1) -26px -103px 0 -1px;

	height: 4px;
	width: 4px;
	opacity: 1;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));

	&:before {
		animation: night-moon 9s ease-in-out infinite;
		border-radius: 50%;
		box-shadow: var(--white) -35px 0;
		content: "";
		height: 100px;
		width: 100px;
		position: absolute;
		top: -106px;
		transform: rotate(-5deg);
	}

	&:after {
		animation: night-moon 9s ease-in-out infinite;
		border-radius: 50%;
		box-shadow: rgba(0, 0, 0, 0.2) -5px 0 0;
		content: "";
		height: 100px;
		width: 100px;
		position: absolute;
		top: -106px;
		transform: rotate(-5deg);
	}
}

// CLOUDS

// clouds and sun
.few-clouds-day {
	animation: few-clouds-day var(--animation-time) ease-in-out infinite;
	background: var(--white-cloud);
	border-radius: 50%;
	box-shadow: $white-cloud, $cloud-sun, $white-cloud-shadow;
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));
}

// clouds and moon
.few-clouds-night {
	animation: night-moon-2 var(--animation-time) ease-in-out infinite;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) -5px 0 0, var(--white) -35px 0;
	height: 100px;
	width: 100px;
	position: absolute;
	opacity: 1;
	left: var(--left);
	top: var(--top);
	transform: rotate(-50deg) scale(calc(var(--icon-size) + var(--scale-factor)));

	&:after {
		animation: night-star-2 var(--animation-time) ease-in-out infinite;
		background-color: var(--white);
		border-radius: 50%;
		content: "";

		box-shadow: var(--white) 26px 7px 0 -1px,
			rgba(255, 255, 255, 0.1) -36px -19px 0 -1px,
			rgba(255, 255, 255, 0.1) -51px -34px 0 -1px,
			var(--white) -24px -121px 0 -1px, var(--white) 14px -37px,
			rgba(255, 255, 255, 0.1) 41px -19px, var(--white) 34px -50px,
			rgba(255, 255, 255, 0.1) 14px -71px 0 -1px, var(--white) 64px -21px 0 -1px,
			rgba(255, 255, 255, 0.1) 32px -85px 0 -1px, var(--white) 64px -90px,
			rgba(255, 255, 255, 0.1) 60px -67px 0 -1px, var(--white) 34px -127px,
			rgba(255, 255, 255, 0.1) -26px -103px 0 -1px;

		height: 4px;
		width: 4px;
		position: absolute;
		top: 104px;
		left: -27px;
	}

	&:before {
		animation: night-moon-cloud var(--animation-time) ease-in-out infinite;
		background: var(--white-cloud);
		border-radius: 50%;
		content: "";
		box-shadow: var(--white-cloud) 77px -20px 0 -5px,
			var(--white-cloud) 35px -34px 0 4px, var(--white-cloud) 3px 0 0 2px,
			var(--white-cloud) 5px 0 0 2px, var(--white-cloud) 10px 0 0 2px,
			var(--white-cloud) 15px 0 0 2px, var(--white-cloud) 20px 0 0 2px,
			var(--white-cloud) 25px 0 0 2px, var(--white-cloud) 30px 0 0 2px,
			var(--white-cloud) 35px 0 0 2px, var(--white-cloud) 40px 0 0 2px,
			var(--white-cloud) 45px 0 0 2px, var(--white-cloud) 50px 0 0 2px,
			var(--white-cloud) 55px 0 0 2px, var(--white-cloud) 60px 0 0 2px,
			var(--white-cloud) 70px 2px 0 0, var(--white-cloud) 65px 2px 0 0,
			var(--white-cloud) 81px 2px 0 0, var(--white-cloud) 74px 2px 0 0,
			var(--white-cloud) 81px 2px 0 0, var(--white-cloud) 79px 2px 0 0,
			var(--white-cloud) 81px 2px 0 0, var(--white-cloud) 81px 0 0 -3px,
			var(--white-cloud) 84px 5px 0 -3px, var(--white-cloud) 87px 5px 0 -3px,
			var(--white-cloud) 92px 5px 0 -3px, var(--white-cloud) 98px 5px 0 -3px,
			var(--shadow-cloud) 5px 5px 5px 2px, var(--shadow-cloud) 10px 5px 5px 2px,
			var(--shadow-cloud) 10px 5px 5px 2px, var(--shadow-cloud) 15px 5px 5px 2px,
			var(--shadow-cloud) 15px 5px 5px 2px, var(--shadow-cloud) 20px 5px 5px 2px,
			var(--shadow-cloud) 25px 5px 5px 2px, var(--shadow-cloud) 30px 5px 5px 2px,
			var(--shadow-cloud) 35px 5px 5px 2px, var(--shadow-cloud) 40px 5px 5px 2px,
			var(--shadow-cloud) 45px 5px 5px 2px, var(--shadow-cloud) 50px 5px 5px 2px,
			var(--shadow-cloud) 84px 5px 5px 2px, var(--shadow-cloud) 60px 5px 5px 2px,
			var(--shadow-cloud) 90px 5px 5px 2px, var(--shadow-cloud) 60px 5px 5px 2px,
			var(--shadow-cloud) 69px 5px 5px 2px, var(--shadow-cloud) 70px 2px 5px 0,
			var(--shadow-cloud) 79px 2px 5px 0, var(--shadow-cloud) 73px 8px 5px 0,
			var(--shadow-cloud) 86px 5px 5px -3px,
			var(--shadow-cloud) 89px 10px 5px -3px,
			var(--shadow-cloud) 105px 10px 5px -3px;

		display: block;
		height: 50px;
		width: 50px;
		position: absolute;
		left: -165px;
		top: -31px;
		transform: rotate(50deg) scale(1.5);
	}
}

// broken / overcast clouds
.more-clouds {
	animation: bounce var(--animation-time) ease-in-out infinite;
	background: var(--white-cloud);
	border-radius: 50%;
	box-shadow: $white-cloud, $white-cloud-shadow, $darker-cloud;

	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));
}

// scattered clouds
.clouds {
	animation: bounce var(--animation-time) ease-in-out infinite;
	background: var(--white-cloud);
	border-radius: 50%;
	box-shadow: $white-cloud, $white-cloud-shadow;

	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	left: var(--left);
	top: var(--top);
	transform: scale(calc(var(--icon-size) + var(--scale-factor)));
}
