@use "../abstracts" as *;

@keyframes night-moon {
	50% {
		transform: rotate(10deg);
	}
}

@keyframes night-stars {
	50% {
		box-shadow: rgba(255, 255, 255, 0.1) 26px 7px 0 -1px,
			var(--white) -36px -19px 0 -1px, var(--white) -51px -34px 0 -1px,
			rgba(255, 255, 255, 0.1) -52px -62px 0 -1px,
			rgba(255, 255, 255, 0.1) 14px -37px, var(--white) 41px -19px,
			rgba(255, 255, 255, 0.1) 34px -50px, var(--white) 14px -71px 0 -1px,
			rgba(255, 255, 255, 0.1) 64px -21px 0 -1px, var(--white) 32px -85px 0 -1px,
			rgba(255, 255, 255, 0.1) 64px -90px, var(--white) 60px -67px 0 -1px,
			rgba(255, 255, 255, 0.1) 34px -127px, var(--white) -26px -103px 0 -1px;
	}
}

@keyframes rain-drop {
	0% {
		box-shadow: transparent 30px 30px, transparent 40px 40px,
			var(--rain-drop) 50px 75px, var(--rain-drop) 55px 50px,
			var(--rain-drop) 70px 100px, var(--rain-drop) 80px 95px,
			var(--rain-drop) 110px 45px, var(--rain-drop) 90px 35px;
	}
	25% {
		box-shadow: var(--rain-drop) 30px 45px, var(--rain-drop) 40px 60px,
			var(--rain-drop) 50px 90px, var(--rain-drop) 55px 65px,
			transparent 70px 120px, transparent 80px 120px,
			var(--rain-drop) 110px 70px, var(--rain-drop) 90px 60px;
	}
	26% {
		box-shadow: var(--rain-drop) 30px 45px, var(--rain-drop) 40px 60px,
			var(--rain-drop) 50px 90px, var(--rain-drop) 55px 65px,
			transparent 70px 40px, transparent 80px 20px, var(--rain-drop) 110px 70px,
			var(--rain-drop) 90px 60px;
	}
	50% {
		box-shadow: var(--rain-drop) 30px 70px, var(--rain-drop) 40px 80px,
			transparent 50px 100px, var(--rain-drop) 55px 80px,
			var(--rain-drop) 70px 60px, var(--rain-drop) 80px 45px,
			var(--rain-drop) 110px 95px, var(--rain-drop) 90px 85px;
	}
	51% {
		box-shadow: var(--rain-drop) 30px 70px, var(--rain-drop) 40px 80px,
			transparent 50px 45px, var(--rain-drop) 55px 80px,
			var(--rain-drop) 70px 60px, var(--rain-drop) 80px 45px,
			var(--rain-drop) 110px 95px, var(--rain-drop) 90px 85px;
	}
	75% {
		box-shadow: var(--rain-drop) 30px 95px, var(--rain-drop) 40px 100px,
			var(--rain-drop) 50px 60px, transparent 55px 95px,
			var(--rain-drop) 70px 80px, var(--rain-drop) 80px 70px,
			transparent 110px 120px, transparent 90px 110px;
	}
	76% {
		box-shadow: var(--rain-drop) 30px 95px, var(--rain-drop) 40px 100px,
			var(--rain-drop) 50px 60px, transparent 55px 35px,
			var(--rain-drop) 70px 80px, var(--rain-drop) 80px 70px,
			transparent 110px 25px, transparent 90px 15px;
	}
	100% {
		box-shadow: transparent 30px 120px, transparent 40px 120px,
			var(--rain-drop) 50px 75px, var(--rain-drop) 55px 50px,
			var(--rain-drop) 70px 100px, var(--rain-drop) 80px 95px,
			var(--rain-drop) 110px 45px, var(--rain-drop) 90px 35px;
	}
}

@keyframes snow-flakes {
	0% {
		box-shadow: rgba(238, 238, 238, 0) 30px 30px,
			rgba(238, 238, 238, 0) 40px 40px, #eee 50px 75px, #eee 55px 50px,
			#eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
	}
	25% {
		box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px,
			rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px,
			#eee 110px 70px, #eee 90px 60px;
	}
	26% {
		box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px,
			rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px,
			#eee 110px 70px, #eee 90px 60px;
	}
	50% {
		box-shadow: #eee 30px 70px, #eee 40px 80px,
			rgba(238, 238, 238, 0) 50px 100px, #eee 55px 80px, #eee 70px 60px,
			#eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
	}
	51% {
		box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 45px,
			#eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px,
			#eee 90px 85px;
	}
	75% {
		box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px,
			rgba(238, 238, 238, 0) 55px 95px, #eee 70px 80px, #eee 80px 70px,
			rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
	}
	76% {
		box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px,
			rgba(238, 238, 238, 0) 55px 35px, #eee 70px 80px, #eee 80px 70px,
			rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
	}
	100% {
		box-shadow: rgba(238, 238, 238, 0) 30px 120px,
			rgba(238, 238, 238, 0) 40px 120px, #eee 50px 75px, #eee 55px 50px,
			#eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
	}
}

@keyframes cloud-lightning {
	0% {
		--white-cloud: var(--white);
	}
	5% {
		--white-cloud: #d7d7d7;
	}
	10% {
		--white-cloud: var(--white);
	}
	15% {
		--white-cloud: #d7d7d7;
	}
}

@keyframes storm-lightning {
	0% {
		transform: rotate(20deg);
		opacity: 1;
	}
	5% {
		transform: rotate(-34deg);
		opacity: 1;
	}
	10% {
		transform: rotate(0deg);
		opacity: 1;
	}
	15% {
		transform: rotate(-34deg);
		opacity: 0;
	}
}

@keyframes sun {
	50% {
		transform: translateY(var(--animation-translate))
			scale(calc(var(--icon-size) + var(--scale-amount) + var(--scale-factor)));
		box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 10px;
	}
}

@keyframes sun-glow {
	50% {
		box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
	}
}

@keyframes few-clouds-day {
	50% {
		transform: translateY(var(--animation-translate))
			scale(calc(var(--icon-size) + var(--scale-amount) + var(--scale-factor)));
		box-shadow: $white-cloud, var(--sun) 86px -20px 0 10px,
			rgba(255, 255, 0, 0.4) 86px -20px 10px 15px, $white-cloud-shadow;
	}
}

@keyframes night-moon-2 {
	50% {
		transform: rotate(-50deg)
			scale(calc(var(--icon-size) + var(--scale-amount) + var(--scale-factor)))
			translate(-5px, 5px);
	}
}

@keyframes night-moon-cloud {
	50% {
		transform: rotate(50deg) scale(1.52);
	}
}

@keyframes night-stars-2 {
	50% {
		box-shadow: rgba(255, 255, 255, 0.1) 26px 7px 0 -1px,
			var(--white) -36px -19px 0 -1px, var(--white) -51px -34px 0 -1px,
			rgba(255, 255, 255, 0.1) -52px -62px 0 -1px,
			rgba(255, 255, 255, 0.1) 14px -37px, var(--white) 41px -19px,
			rgba(255, 255, 255, 0.1) 34px -50px, var(--white) 14px -71px 0 -1px,
			rgba(255, 255, 255, 0.1) 64px -21px 0 -1px, var(--white) 32px -85px 0 -1px,
			rgba(255, 255, 255, 0.1) 64px -90px, var(--white) 60px -67px 0 -1px,
			rgba(255, 255, 255, 0.1) 34px -127px, var(--white) -26px -103px 0 -1px;
	}
}

@keyframes bounce {
	50% {
		transform: translateY(var(--animation-translate))
			scale(calc(var(--icon-size) + var(--scale-amount) + var(--scale-factor)));
	}
}

@keyframes drizzle {
	0% {
		box-shadow: transparent 40px 40px, var(--rain-drop) 50px 75px,
			var(--rain-drop) 70px 100px, var(--rain-drop) 80px 95px,
			var(--rain-drop) 110px 45px;
	}
	25% {
		box-shadow: var(--rain-drop) 40px 60px, var(--rain-drop) 50px 90px,
			transparent 70px 120px, transparent 80px 120px,
			var(--rain-drop) 110px 70px;
	}
	26% {
		box-shadow: var(--rain-drop) 40px 60px, var(--rain-drop) 50px 90px,
			transparent 70px 40px, transparent 80px 20px, var(--rain-drop) 110px 70px;
	}
	50% {
		box-shadow: var(--rain-drop) 40px 80px, transparent 50px 100px,
			var(--rain-drop) 70px 60px, var(--rain-drop) 80px 45px,
			var(--rain-drop) 110px 95px;
	}
	51% {
		box-shadow: var(--rain-drop) 40px 80px, transparent 50px 45px,
			var(--rain-drop) 70px 60px, var(--rain-drop) 80px 45px,
			var(--rain-drop) 110px 95px;
	}
	75% {
		box-shadow: var(--rain-drop) 40px 100px, var(--rain-drop) 50px 60px,
			var(--rain-drop) 70px 80px, var(--rain-drop) 80px 70px,
			transparent 110px 120px;
	}
	76% {
		box-shadow: var(--rain-drop) 40px 100px, var(--rain-drop) 50px 60px,
			var(--rain-drop) 70px 80px, var(--rain-drop) 80px 70px,
			transparent 110px 25px;
	}
	100% {
		box-shadow: transparent 40px 120px, var(--rain-drop) 50px 75px,
			var(--rain-drop) 70px 100px, var(--rain-drop) 80px 95px,
			var(--rain-drop) 110px 45px;
	}
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(0, 0%, 67%);
	}
	100% {
		background-color: hsl(200, 20%, 90%);
	}
}
